# Configurações do Supabase
SUPABASE_URL=https://sua-url.supabase.co
SUPABASE_KEY=sua-chave-anon-ou-service-role

# Configurações do JWT
JWT_SECRET=sua_chave_secreta_muito_segura

# Configurações do servidor
PORT=3000

# Ambiente (development/production)
NODE_ENV=production

# URL do backend (para deep links em desenvolvimento)
BACKEND_URL=https://buscabusca-production.up.railway.app 